# Entorno
ENV=development
CONFIG_PATH=configs/development/config.yaml

# Spanner
SPANNER_DATABASE=projects/vincula-salud-dev/instances/dev-instance/databases/clinical-db
SPANNER_EMULATOR_HOST=localhost:9010

# Pub/Sub
PUBSUB_EMULATOR_HOST=localhost:8085

# Tracing
JAEGER_ENDPOINT=http://localhost:14268/api/traces

# Legacy Bridge
LEGACY_DB_PATH=./data/legacy_foxpro

# Logs
LOG_LEVEL=debug
